.sectionMeals {
  padding: 9.6rem 0;
}


.allRecipes {
  text-align: center;
  font-size: 1.8rem;
}

@media (max-width: 44em) {
  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

@media (max-width: 44em) {
  .sectionMeals {
    padding: 6.4rem 0;
  }
}
