.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  // Giving height - want to make header sticky
  height: 9.6em;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  position: relative;
  width: 16.6rem;
  height: 9.6em;
}
@media (max-width: 75em) {
  .header {
    padding: 0 3.2rem;
  }
}

@media (max-width: 59em) {
}
