.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  // Giving height - want to make header sticky
  height: 9.6em;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  position: relative;
  width: 16.6rem;
  height: 9.6em;
}

.sticky {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 1.2rem 3.2rem rgba($color: #000000, $alpha: 0.03);
  backdrop-filter: blur(4px);
}

@media (max-width: 75em) {
  .header {
    padding: 0 3.2rem;
  }
}

@media (max-width: 59em) {
}
